In [1]:
import pandas as pd

merged_gw = pd.read_csv ('merged_gw.csv')
teams_fifa23 = pd.read_csv ('teams_fifa23.csv')
players_fifa23 = pd.read_csv ('players_fifa23.csv')
Odds = pd.read_csv ('E0.csv')
Team = pd.read_csv ('Teams.csv')

In [2]:
Odds

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,05/08/2022,20:00,Crystal Palace,Arsenal,0,2,A,0,1,...,1.76,0.50,2.09,1.84,2.04,1.88,2.09,1.88,2.03,1.85
1,E0,06/08/2022,12:30,Fulham,Liverpool,2,2,D,1,0,...,2.73,1.75,1.90,2.03,1.91,2.02,2.01,2.06,1.89,1.99
2,E0,06/08/2022,15:00,Bournemouth,Aston Villa,2,0,H,1,0,...,1.76,0.50,1.93,2.00,1.93,2.00,1.94,2.04,1.88,2.00
3,E0,06/08/2022,15:00,Leeds,Wolves,2,1,H,1,1,...,1.87,-0.25,2.08,1.85,2.10,1.84,2.14,1.87,2.08,1.81
4,E0,06/08/2022,15:00,Newcastle,Nott'm Forest,2,0,H,0,0,...,1.89,-1.00,1.97,1.96,1.99,1.93,2.19,1.97,2.03,1.86
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82,E0,09/10/2022,14:00,Crystal Palace,Leeds,2,1,H,1,1,...,1.93,-0.50,2.07,1.83,2.09,1.85,2.13,1.87,2.07,1.82
83,E0,09/10/2022,14:00,West Ham,Fulham,3,1,H,1,1,...,1.98,-1.00,2.07,1.83,2.09,1.83,2.20,1.86,2.11,1.78
84,E0,09/10/2022,16:30,Arsenal,Liverpool,3,2,H,2,1,...,2.51,0.00,1.91,1.99,1.93,1.99,1.96,2.03,1.89,1.98
85,E0,09/10/2022,19:00,Everton,Man United,1,2,A,1,2,...,2.02,0.50,1.80,2.00,1.85,2.09,1.89,2.11,1.82,2.06
86,E0,10/10/2022,20:00,Nott'm Forest,Aston Villa,1,1,D,1,1,...,1.94,0.50,1.89,2.01,1.89,2.03,1.90,2.08,1.85,2.03

In [3]:
df1 = Team[['name', 'strength_overall_home', 'strength_overall_away', 
            'strength_attack_home', 'strength_attack_away',
            'strength_defence_home', 'strength_defence_away']]

In [4]:
updated = df1.transpose()
updated.columns = updated.iloc[0] 

updated = updated[1:]

updated

name,Arsenal,Aston Villa,Brentford,Brighton,Burnley,Chelsea,Crystal Palace,Everton,Leicester,Leeds,Liverpool,Man City,Man Utd,Newcastle,Norwich,Southampton,Spurs,Watford,West Ham,Wolves
strength_overall_home,1250,1100,1060,1100,1060,1290,1090,1050,1090,1070,1340,1350,1210,1090,1030,1080,1210,1060,1130,1200
strength_overall_away,1270,1100,1070,1090,1060,1320,1100,1090,1200,1080,1360,1370,1270,1170,1040,1110,1270,1030,1190,1170
strength_attack_home,1150,1140,1120,1160,1080,1300,1110,1130,1100,1080,1300,1340,1170,1050,1040,1090,1190,1090,1110,1150
strength_attack_away,1210,1110,1150,1160,1130,1300,1160,1090,1080,1070,1350,1360,1190,1030,1040,1140,1200,1040,1150,1160
strength_defence_home,1190,1090,1080,1100,1060,1250,1080,1110,1150,1100,1340,1340,1190,1040,1040,1120,1210,1120,1160,1080
strength_defence_away,1220,1090,1120,1120,1100,1290,1160,1110,1160,1100,1350,1360,1200,1070,1030,1090,1210,1070,1180,1100

In [5]:
Odds

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,05/08/2022,20:00,Crystal Palace,Arsenal,0,2,A,0,1,...,1.76,0.50,2.09,1.84,2.04,1.88,2.09,1.88,2.03,1.85
1,E0,06/08/2022,12:30,Fulham,Liverpool,2,2,D,1,0,...,2.73,1.75,1.90,2.03,1.91,2.02,2.01,2.06,1.89,1.99
2,E0,06/08/2022,15:00,Bournemouth,Aston Villa,2,0,H,1,0,...,1.76,0.50,1.93,2.00,1.93,2.00,1.94,2.04,1.88,2.00
3,E0,06/08/2022,15:00,Leeds,Wolves,2,1,H,1,1,...,1.87,-0.25,2.08,1.85,2.10,1.84,2.14,1.87,2.08,1.81
4,E0,06/08/2022,15:00,Newcastle,Nott'm Forest,2,0,H,0,0,...,1.89,-1.00,1.97,1.96,1.99,1.93,2.19,1.97,2.03,1.86
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82,E0,09/10/2022,14:00,Crystal Palace,Leeds,2,1,H,1,1,...,1.93,-0.50,2.07,1.83,2.09,1.85,2.13,1.87,2.07,1.82
83,E0,09/10/2022,14:00,West Ham,Fulham,3,1,H,1,1,...,1.98,-1.00,2.07,1.83,2.09,1.83,2.20,1.86,2.11,1.78
84,E0,09/10/2022,16:30,Arsenal,Liverpool,3,2,H,2,1,...,2.51,0.00,1.91,1.99,1.93,1.99,1.96,2.03,1.89,1.98
85,E0,09/10/2022,19:00,Everton,Man United,1,2,A,1,2,...,2.02,0.50,1.80,2.00,1.85,2.09,1.89,2.11,1.82,2.06
86,E0,10/10/2022,20:00,Nott'm Forest,Aston Villa,1,1,D,1,1,...,1.94,0.50,1.89,2.01,1.89,2.03,1.90,2.08,1.85,2.03

In [6]:
new_odds = Odds[["Date", "HomeTeam", "AwayTeam", 
      "FTHG", "FTAG", "FTR", "Referee", 
      "HS", "AS", "HST", "AST", "HC", "AC", 
      "HY", "AY", "HR", "AR", 
      "B365H", "B365D", "B365A"]]

In [7]:
new_odds

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,Referee,HS,AS,HST,AST,HC,AC,HY,AY,HR,AR,B365H,B365D,B365A
0,05/08/2022,Crystal Palace,Arsenal,0,2,A,A Taylor,10,10,2,2,3,5,1,2,0,0,4.20,3.6,1.85
1,06/08/2022,Fulham,Liverpool,2,2,D,A Madley,9,11,3,4,4,4,2,0,0,0,11.00,6.0,1.25
2,06/08/2022,Bournemouth,Aston Villa,2,0,H,P Bankes,7,15,3,2,5,5,3,3,0,0,3.75,3.5,2.00
3,06/08/2022,Leeds,Wolves,2,1,H,R Jones,12,15,4,6,6,4,2,0,0,0,2.25,3.4,3.20
4,06/08/2022,Newcastle,Nott'm Forest,2,0,H,S Hooper,23,5,10,0,11,1,0,3,0,0,1.66,3.8,5.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82,09/10/2022,Crystal Palace,Leeds,2,1,H,P Tierney,13,10,5,4,5,3,3,3,0,0,2.05,3.5,3.60
83,09/10/2022,West Ham,Fulham,3,1,H,C Kavanagh,17,8,8,2,4,2,1,3,0,0,1.72,3.8,4.75
84,09/10/2022,Arsenal,Liverpool,3,2,H,M Oliver,11,8,7,3,4,3,1,2,0,0,2.50,3.6,2.62
85,09/10/2022,Everton,Man United,1,2,A,D Coote,11,12,2,4,5,4,2,1,0,0,3.60,3.5,2.05
86,10/10/2022,Nott'm Forest,Aston Villa,1,1,D,A Taylor,6,12,3,2,1,4,3,3,0,0,3.30,3.4,2.20

In [8]:
teams_fifa23

,ID,Name,League,LeagueId,Overall,Attack,Midfield,Defence,TransferBudget,DomesticPrestige,IntPrestige,Players,StartingAverageAge,AllTeamAverageAge
0,1943,AFC Bournemouth,English Premier League (1),13,74,75,73,73,0,2,1,28,25.8,25.5
1,116418,AFC Richmond,English Premier League (1),13,78,81,79,77,0,5,3,19,27.3,27.3
2,1,Arsenal,English Premier League (1),13,80,83,81,79,0,7,7,29,24.1,23.0
3,2,Aston Villa,English Premier League (1),13,79,79,78,80,0,5,3,32,25.8,25.2
4,1925,Brentford,English Premier League (1),13,75,75,74,75,0,1,1,30,25.4,24.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
673,112853,Deportivo La Guaira FC,Venezuelan Primera División (1),2019,65,64,65,65,0,7,1,29,25.2,22.4
674,110990,Deportivo Táchira FC,Venezuelan Primera División (1),2019,65,66,66,65,0,10,4,30,27.6,25.5
675,111332,Estudiantes de Mérida,Venezuelan Primera División (1),2019,65,64,65,64,0,5,2,29,31.8,26.3
676,115694,Hermanos Colmenarez,Venezuelan Primera División (1),2019,65,66,64,65,0,2,1,27,28.4,27.7
677,112914,Metropolitanos de Caracas FC,Venezuelan Primera División (1),2019,65,65,66,65,0,6,1,30,26.7,26.3

In [9]:
Updated_teams = teams_fifa23.loc[teams_fifa23['League'] == "English Premier League (1)"]

In [10]:
important_teams = Updated_teams[["Name", "Overall", "Attack", "Midfield", "Defence"]]

In [11]:
important_teams

                       Name  Overall  Attack  Midfield  Defence
0           AFC Bournemouth       74      75        73       73
1              AFC Richmond       78      81        79       77
2                   Arsenal       80      83        81       79
3               Aston Villa       79      79        78       80
4                 Brentford       75      75        74       75
5    Brighton & Hove Albion       76      76        75       77
6                   Chelsea       84      84        86       84
7            Crystal Palace       76      77        75       76
8                   Everton       78      80        77       75
9                    Fulham       76      78        76       74
10             Leeds United       76      78        76       76
11           Leicester City       79      81        80       78
12                Liverpool       85      84        82       87
13          Manchester City       85      86        86       86
14        Manchester United       82      85        83       80
15         Newcastle United       78      78        76       79
16        Nottingham Forest       76      75        76       74
17              Southampton       75      76        74       75
18        Tottenham Hotspur       81      84        81       79
19          West Ham United       80      79        80       78
20  Wolverhampton Wanderers       79      79        81       77

In [12]:
new_odds

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,Referee,HS,AS,HST,AST,HC,AC,HY,AY,HR,AR,B365H,B365D,B365A
0,05/08/2022,Crystal Palace,Arsenal,0,2,A,A Taylor,10,10,2,2,3,5,1,2,0,0,4.20,3.6,1.85
1,06/08/2022,Fulham,Liverpool,2,2,D,A Madley,9,11,3,4,4,4,2,0,0,0,11.00,6.0,1.25
2,06/08/2022,Bournemouth,Aston Villa,2,0,H,P Bankes,7,15,3,2,5,5,3,3,0,0,3.75,3.5,2.00
3,06/08/2022,Leeds,Wolves,2,1,H,R Jones,12,15,4,6,6,4,2,0,0,0,2.25,3.4,3.20
4,06/08/2022,Newcastle,Nott'm Forest,2,0,H,S Hooper,23,5,10,0,11,1,0,3,0,0,1.66,3.8,5.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82,09/10/2022,Crystal Palace,Leeds,2,1,H,P Tierney,13,10,5,4,5,3,3,3,0,0,2.05,3.5,3.60
83,09/10/2022,West Ham,Fulham,3,1,H,C Kavanagh,17,8,8,2,4,2,1,3,0,0,1.72,3.8,4.75
84,09/10/2022,Arsenal,Liverpool,3,2,H,M Oliver,11,8,7,3,4,3,1,2,0,0,2.50,3.6,2.62
85,09/10/2022,Everton,Man United,1,2,A,D Coote,11,12,2,4,5,4,2,1,0,0,3.60,3.5,2.05
86,10/10/2022,Nott'm Forest,Aston Villa,1,1,D,A Taylor,6,12,3,2,1,4,3,3,0,0,3.30,3.4,2.20

In [13]:
updated

name,Arsenal,Aston Villa,Brentford,Brighton,Burnley,Chelsea,Crystal Palace,Everton,Leicester,Leeds,Liverpool,Man City,Man Utd,Newcastle,Norwich,Southampton,Spurs,Watford,West Ham,Wolves
strength_overall_home,1250,1100,1060,1100,1060,1290,1090,1050,1090,1070,1340,1350,1210,1090,1030,1080,1210,1060,1130,1200
strength_overall_away,1270,1100,1070,1090,1060,1320,1100,1090,1200,1080,1360,1370,1270,1170,1040,1110,1270,1030,1190,1170
strength_attack_home,1150,1140,1120,1160,1080,1300,1110,1130,1100,1080,1300,1340,1170,1050,1040,1090,1190,1090,1110,1150
strength_attack_away,1210,1110,1150,1160,1130,1300,1160,1090,1080,1070,1350,1360,1190,1030,1040,1140,1200,1040,1150,1160
strength_defence_home,1190,1090,1080,1100,1060,1250,1080,1110,1150,1100,1340,1340,1190,1040,1040,1120,1210,1120,1160,1080
strength_defence_away,1220,1090,1120,1120,1100,1290,1160,1110,1160,1100,1350,1360,1200,1070,1030,1090,1210,1070,1180,1100

In [61]:
merged_gw_updated = merged_gw[["team", "ict_index", "GW"]]
sorted_gw = merged_gw_updated.sort_values(by=['team', 'GW'])
grouped_gw = sorted_gw.groupby(by=['team', 'GW'])['ict_index'].sum()
df_grouped_gw = grouped_gw.to_frame()
ICT_to_GW = df_grouped_gw.pivot_table(index=['team'], columns=['GW'], 
                                  values='ict_index').fillna(0)
ICT_to_GW

GW                1     2     3      4     5     6     8      9     10
team
Arsenal         51.5  74.0  61.1   87.0  79.0  56.7  65.3   83.8  61.4
Aston Villa     41.8  64.0  50.2   37.0  32.7  24.6  48.4   57.1  48.5
Bournemouth     42.7  19.2  28.3   24.8  30.7  49.9  42.6   31.3  49.4
Brentford       37.5  58.6  58.3   67.3  41.9  57.2  31.9   47.7  34.8
Brighton        66.4  46.2  53.1   48.1  37.0  82.3   0.0   54.1  57.8
Chelsea         63.0  69.7  52.2   48.1  55.9  50.6   0.0   55.4  83.3
Crystal Palace  46.3  44.5  65.5   21.6  49.5  67.7   0.0   33.8  54.2
Everton         41.8  51.5  63.4   59.1  39.7  52.2  43.8   65.8  40.1
Fulham          48.5  32.4  74.1   50.6  38.0  43.5  67.2   30.0  36.3
Leeds           50.9  68.2  59.3   37.2  56.0  59.8   0.0   29.8  46.2
Leicester       52.7  35.1  30.8   63.2  31.7  44.9  65.9   64.9  52.1
Liverpool       56.6  80.7  66.8  112.9  81.3  75.4   0.0   61.0  43.1
Man City        55.7  81.7  89.0   84.1  85.4  55.4  71.8  104.7  88.7
Man Utd         63.7  51.2  56.4   56.4  38.8  56.4   0.0   55.6  54.9
Newcastle       88.4  30.7  64.5   68.0  36.5  83.4  64.1   98.7  66.7
Nott'm Forest   26.7  48.6  46.8   54.0  26.9  49.2  44.3   35.9  34.9
Southampton     45.6  51.4  44.1   59.0  48.2  43.2  29.0   70.5  21.3
Spurs           79.9  57.2  55.2   65.6  46.6  79.9  87.4   33.7  38.8
West Ham        24.8  49.7  43.8   36.9  47.5  31.9  49.4   60.1  67.6
Wolves          62.8  29.4  58.0   48.4  58.6  42.3  25.8   47.1  33.5