In [11]:
import pandas as pd
import numpy as np
fantasy_21_raw = pd.read_csv ('fantasy_21.csv')
fantasy_22_raw = pd.read_csv ('fantasy_22.csv')
matches_21_raw = pd.read_csv ('matches_21.csv')
matches_22_raw = pd.read_csv ('matches_22.csv')

/var/folders/58/8k0vd_nd0sx6lhr56sh035jm0000gn/T/ipykernel_41168/912621785.py:3: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  fantasy_21_raw = pd.read_csv ('fantasy_21.csv')

In [12]:
matches_21 = matches_21_raw[["Date", "Time","HomeTeam", "AwayTeam", 
      "FTHG", "FTAG", "FTR", "Referee", 
      "HS", "AS", "HST", "AST", "HC", "AC", 
      "HY", "AY", "HR", "AR", "B365H", "B365D", "B365A"]]
matches_21 = matches_21.assign(HICT="")
matches_21 = matches_21.assign(AICT="")
matches_21.sort_index(inplace=True)
matches_21 = matches_21.reset_index(drop=True)

In [13]:
fantasy_21_raw[['Date', 'Time']] = fantasy_21_raw['kickoff_time'].str.split('T', 1, expand=True)

In [14]:
#ICT score dataset
fantasy_21 = fantasy_21_raw[["team", "ict_index", "Date"]]
fantasy_21 = fantasy_21.sort_values(by=['team', 'Date'])
ICT_2021 = fantasy_21.pivot_table(index=['team'], 
            columns=['Date'], values='ict_index').fillna(0)
ICT_2021.sort_index(inplace=True)
ICT_2021.reset_index(inplace=True)
ICT_2021

Date,team,2021-08-13,2021-08-14,2021-08-15,2021-08-21,2021-08-22,2021-08-23,2021-08-28,2021-08-29,2021-09-11,...,2022-05-07,2022-05-08,2022-05-10,2022-05-11,2022-05-12,2022-05-15,2022-05-16,2022-05-17,2022-05-19,2022-05-22
0,Arsenal,2.003125,0.000000,0.000000,0.000000,1.117647,0.000,0.534286,0.000000,2.575000,...,0.000000,1.556522,0.000000,0.000000,0.704348,0.000000,0.841304,0.000000,0.000000,0.0
1,Aston Villa,0.000000,1.386667,0.000000,1.383333,0.000000,0.000,1.274194,0.000000,1.762500,...,1.537500,0.000000,1.030000,0.000000,0.000000,1.247500,0.000000,0.000000,1.815000,0.0
2,Brentford,1.562963,0.000000,0.000000,1.482143,0.000000,0.000,1.541379,0.000000,0.923333,...,1.963158,0.000000,0.000000,0.000000,0.000000,1.747368,0.000000,0.000000,0.000000,0.0
3,Brighton,0.000000,2.093333,0.000000,1.854839,0.000000,0.000,1.500000,0.000000,0.942424,...,1.931579,0.000000,0.000000,0.000000,0.000000,1.568421,0.000000,0.000000,0.000000,0.0
4,Burnley,0.000000,1.788000,0.000000,1.680769,0.000000,0.000,0.000000,1.796296,0.000000,...,1.522581,0.000000,0.000000,0.000000,0.000000,1.060606,0.000000,0.000000,1.324242,0.0
5,Chelsea,0.000000,1.903448,0.000000,0.000000,2.962069,0.000,1.646429,0.000000,2.000000,...,1.969697,0.000000,0.000000,2.142424,0.000000,0.000000,0.000000,0.000000,2.090909,0.0
6,Crystal Palace,0.000000,0.985185,0.000000,1.032143,0.000000,0.000,1.862069,0.000000,2.093333,...,1.877419,0.000000,0.000000,0.000000,0.000000,1.925806,0.000000,0.000000,1.367742,0.0
7,Everton,0.000000,2.522222,0.000000,2.307143,0.000000,0.000,1.883333,0.000000,0.000000,...,0.000000,1.162791,0.000000,1.330233,0.000000,1.051163,0.000000,0.000000,1.325581,0.0
8,Leeds,0.000000,1.500000,0.000000,2.511538,0.000000,0.000,0.000000,1.721429,0.000000,...,0.000000,0.819444,0.000000,0.536111,0.000000,1.777778,0.000000,0.000000,0.000000,0.0
9,Leicester,0.000000,1.769231,0.000000,0.000000,0.000000,1.050,1.544444,0.000000,1.414286,...,0.000000,1.784375,0.000000,2.484375,0.000000,2.340625,0.000000,0.000000,0.840625,0.0
10,Liverpool,0.000000,2.496667,0.000000,3.293333,0.000000,0.000,2.613333,0.000000,0.000000,...,1.991892,0.000000,1.737838,0.000000,0.000000,0.000000,0.000000,2.145946,0.000000,0.0
11,Man City,0.000000,0.000000,2.430435,3.091667,0.000000,0.000,4.883333,0.000000,3.416000,...,0.000000,2.981818,0.000000,2.096970,0.000000,2.830303,0.000000,0.000000,0.000000,0.0
12,Man Utd,0.000000,2.807407,0.000000,0.000000,2.100000,0.000,0.000000,1.625926,3.170370,...,1.403030,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
13,Newcastle,0.000000,0.000000,2.526923,1.107692,0.000000,0.000,1.880769,0.000000,1.503704,...,0.000000,1.029412,0.000000,0.000000,0.000000,0.000000,1.614706,0.000000,0.000000,0.0
14,Norwich,0.000000,1.960714,0.000000,0.537931,0.000000,0.000,1.410345,0.000000,1.451613,...,0.000000,0.826316,0.000000,1.144737,0.000000,1.113158,0.000000,0.000000,0.000000,0.0
15,Southampton,0.000000,1.648000,0.000000,0.000000,1.272000,0.000,3.015385,0.000000,1.692308,...,1.665625,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.006250,0.000000,0.0
16,Spurs,0.000000,0.000000,1.714286,0.000000,1.800000,0.000,0.000000,2.092593,0.710000,...,1.359459,0.000000,0.000000,0.000000,1.875676,1.975676,0.000000,0.000000,0.000000,0.0
17,Watford,0.000000,1.516216,0.000000,1.102632,0.000000,0.000,0.000000,1.076923,0.702564,...,0.570588,0.000000,0.000000,0.574510,0.000000,0.941176,0.000000,0.000000,0.000000,0.0
18,West Ham,0.000000,0.000000,3.591667,0.000000,0.000000,3.275,2.696000,0.000000,1.622222,...,0.000000,2.121212,0.000000,0.000000,0.000000,1.472727,0.000000,0.000000,0.000000,0.0
19,Wolves,0.000000,1.962069,0.000000,0.000000,2.903448,0.000,0.000000,1.593103,1.846667,...,1.400000,0.000000,0.000000,0.860526,0.000000,1.626316,0.000000,0.000000,0.000000,0.0

In [15]:
#was home team dataset
fantasy_21 = fantasy_21_raw[["team", "was_home", "Date"]]
fantasy_21 = fantasy_21.sort_values(by=['team', 'Date'])
WH_2021 = fantasy_21.pivot_table(index=['team'], 
            columns=['Date'], values='was_home').fillna(0)
WH_2021.sort_index(inplace=True)
WH_2021.reset_index(inplace=True)

In [20]:
matches_21 = matches_21.sort_values(['AwayTeam','Date'])

In [21]:
away_team_ict_21 = ICT_2021.mask(WH_2021 == 1.0)
away_team_rows_21 =[]
if 'Away Team' in away_team_ict_21.columns:
    away_team_ict_21 = away_team_ict_21.drop('Away Team', axis=1)  
for index, rows in away_team_ict_21.iterrows():
    my_list = [rows["2021-08-13"],rows["2021-08-14"],rows["2021-08-15"],rows["2021-08-21"],
               rows["2021-08-22"],rows["2021-08-23"],rows["2021-08-28"],rows["2021-08-29"],rows["2021-09-11"],
               rows["2021-09-12"],rows["2021-09-13"],rows["2021-09-17"],rows["2021-09-18"],rows["2021-09-19"],
               rows["2021-09-25"],rows["2021-09-26"],rows["2021-09-27"],rows["2021-10-02"],rows["2021-10-03"],
               rows["2021-10-16"],rows["2021-10-17"],rows["2021-10-18"],rows["2021-10-22"],rows["2021-10-23"],
               rows["2021-10-24"],rows["2021-10-30"],rows["2021-10-31"],rows["2021-11-01"],rows["2021-11-05"],
               rows["2021-11-06"],rows["2021-11-07"],rows["2021-11-20"],rows["2021-11-21"],rows["2021-11-27"],
               rows["2021-11-28"],rows["2021-11-30"],rows["2021-12-01"],rows["2021-12-02"],rows["2021-12-04"],
               rows["2021-12-05"],rows["2021-12-06"],rows["2021-12-10"],rows["2021-12-11"],rows["2021-12-12"],
               rows["2021-12-14"],rows["2021-12-15"],rows["2021-12-16"],rows["2021-12-18"],rows["2021-12-19"],
               rows["2021-12-26"],rows["2021-12-27"],rows["2021-12-28"],rows["2021-12-29"],rows["2021-12-30"],
               rows["2022-01-01"],rows["2022-01-02"],rows["2022-01-03"],rows["2022-01-11"],rows["2022-01-12"],
               rows["2022-01-14"],rows["2022-01-15"],rows["2022-01-16"],rows["2022-01-18"],rows["2022-01-19"],
               rows["2022-01-21"],rows["2022-01-22"],rows["2022-01-23"],rows["2022-02-05"],rows["2022-02-08"],
               rows["2022-02-09"],rows["2022-02-10"],rows["2022-02-12"],rows["2022-02-13"],rows["2022-02-15"],
               rows["2022-02-19"],rows["2022-02-20"],rows["2022-02-23"],rows["2022-02-24"],rows["2022-02-25"],
               rows["2022-02-26"],rows["2022-02-27"],rows["2022-03-01"],rows["2022-03-05"],rows["2022-03-06"],
               rows["2022-03-07"],rows["2022-03-10"],rows["2022-03-12"],rows["2022-03-13"],rows["2022-03-14"],
               rows["2022-03-16"],rows["2022-03-17"],rows["2022-03-18"],rows["2022-03-19"],rows["2022-03-20"],
               rows["2022-04-02"],rows["2022-04-03"],rows["2022-04-04"],rows["2022-04-06"],rows["2022-04-08"],
               rows["2022-04-09"],rows["2022-04-10"],rows["2022-04-16"],rows["2022-04-17"],rows["2022-04-19"],
               rows["2022-04-20"],rows["2022-04-21"],rows["2022-04-23"],rows["2022-04-24"],rows["2022-04-25"],
               rows["2022-04-28"],rows["2022-04-30"],rows["2022-05-01"],rows["2022-05-02"],rows["2022-05-07"],
               rows["2022-05-08"],rows["2022-05-10"],rows["2022-05-11"],rows["2022-05-12"],rows["2022-05-15"],
               rows["2022-05-16"],rows["2022-05-17"],rows["2022-05-19"],rows["2022-05-22"]]
    away_team_rows_21.append(my_list)
flat_list = []
for sublist in away_team_rows_21:
    for item in sublist:
        flat_list.append(item)
cleanedList = [x for x in flat_list if str(x) != 'nan']
cleanedList = [x for x in cleanedList if str(x) != '0.0']
matches_21 = matches_21.assign(AICT=cleanedList)

In [22]:
home_team_ict_21 = ICT_2021.mask(WH_2021 == 0.0)
home_team_rows_21 = []
if 'Home Team' in home_team_ict_21.columns:
    home_team_ict_21 = home_team_ict_21.drop('Home Team', axis=1)  
for index, rows in home_team_ict_21.iterrows():
    my_list = [rows["2021-08-13"],rows["2021-08-14"],rows["2021-08-15"],rows["2021-08-21"],
               rows["2021-08-22"],rows["2021-08-23"],rows["2021-08-28"],rows["2021-08-29"],rows["2021-09-11"],
               rows["2021-09-12"],rows["2021-09-13"],rows["2021-09-17"],rows["2021-09-18"],rows["2021-09-19"],
               rows["2021-09-25"],rows["2021-09-26"],rows["2021-09-27"],rows["2021-10-02"],rows["2021-10-03"],
               rows["2021-10-16"],rows["2021-10-17"],rows["2021-10-18"],rows["2021-10-22"],rows["2021-10-23"],
               rows["2021-10-24"],rows["2021-10-30"],rows["2021-10-31"],rows["2021-11-01"],rows["2021-11-05"],
               rows["2021-11-06"],rows["2021-11-07"],rows["2021-11-20"],rows["2021-11-21"],rows["2021-11-27"],
               rows["2021-11-28"],rows["2021-11-30"],rows["2021-12-01"],rows["2021-12-02"],rows["2021-12-04"],
               rows["2021-12-05"],rows["2021-12-06"],rows["2021-12-10"],rows["2021-12-11"],rows["2021-12-12"],
               rows["2021-12-14"],rows["2021-12-15"],rows["2021-12-16"],rows["2021-12-18"],rows["2021-12-19"],
               rows["2021-12-26"],rows["2021-12-27"],rows["2021-12-28"],rows["2021-12-29"],rows["2021-12-30"],
               rows["2022-01-01"],rows["2022-01-02"],rows["2022-01-03"],rows["2022-01-11"],rows["2022-01-12"],
               rows["2022-01-14"],rows["2022-01-15"],rows["2022-01-16"],rows["2022-01-18"],rows["2022-01-19"],
               rows["2022-01-21"],rows["2022-01-22"],rows["2022-01-23"],rows["2022-02-05"],rows["2022-02-08"],
               rows["2022-02-09"],rows["2022-02-10"],rows["2022-02-12"],rows["2022-02-13"],rows["2022-02-15"],
               rows["2022-02-19"],rows["2022-02-20"],rows["2022-02-23"],rows["2022-02-24"],rows["2022-02-25"],
               rows["2022-02-26"],rows["2022-02-27"],rows["2022-03-01"],rows["2022-03-05"],rows["2022-03-06"],
               rows["2022-03-07"],rows["2022-03-10"],rows["2022-03-12"],rows["2022-03-13"],rows["2022-03-14"],
               rows["2022-03-16"],rows["2022-03-17"],rows["2022-03-18"],rows["2022-03-19"],rows["2022-03-20"],
               rows["2022-04-02"],rows["2022-04-03"],rows["2022-04-04"],rows["2022-04-06"],rows["2022-04-08"],
               rows["2022-04-09"],rows["2022-04-10"],rows["2022-04-16"],rows["2022-04-17"],rows["2022-04-19"],
               rows["2022-04-20"],rows["2022-04-21"],rows["2022-04-23"],rows["2022-04-24"],rows["2022-04-25"],
               rows["2022-04-28"],rows["2022-04-30"],rows["2022-05-01"],rows["2022-05-02"],rows["2022-05-07"],
               rows["2022-05-08"],rows["2022-05-10"],rows["2022-05-11"],rows["2022-05-12"],rows["2022-05-15"],
               rows["2022-05-16"],rows["2022-05-17"],rows["2022-05-19"],rows["2022-05-22"]]
    home_team_rows_21.append(my_list)
flat_list = []
for sublist in home_team_rows_21:
    for item in sublist:
        flat_list.append(item)
cleanedList = [x for x in flat_list if str(x) != 'nan']
cleanedList = [x for x in cleanedList if str(x) != '0.0']
matches_21 = matches_21.assign(HICT=cleanedList)

In [23]:
matches_21['Date'] = pd.to_datetime(matches_21['Date'], format='%m/%d/%y')
final_dataset = matches_21.sort_values(by='Date').reset_index(drop=True)
final_dataset

,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,Referee,HS,AS,...,AC,HY,AY,HR,AR,B365H,B365D,B365A,HICT,AICT
0,2021-08-13,20:00,Brentford,Arsenal,2,0,H,M Oliver,8,22,...,5,0,0,0,0,4.00,3.40,1.95,1.117647,2.003125
1,2021-08-14,15:00,Burnley,Brighton,1,2,A,D Coote,14,14,...,6,2,1,0,0,3.10,3.10,2.45,1.500000,2.093333
2,2021-08-14,15:00,Chelsea,Crystal Palace,3,0,H,J Moss,13,4,...,2,0,0,0,0,1.25,5.75,13.00,1.960000,0.985185
3,2021-08-14,12:30,Man United,Leeds,5,1,H,P Tierney,16,10,...,4,1,2,0,0,1.53,4.50,5.75,1.925000,1.500000
4,2021-08-14,15:00,Leicester,Wolves,1,0,H,C Pawson,9,17,...,4,1,2,0,0,1.66,3.80,5.25,1.593103,1.962069
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
365,2022-05-16,20:00,Newcastle,Arsenal,2,0,H,D England,16,11,...,8,0,3,0,0,4.33,3.60,1.83,1.383333,0.841304
366,2022-05-17,19:45,Southampton,Liverpool,1,2,A,M Atkinson,4,24,...,9,2,0,0,0,7.50,5.50,1.33,1.879310,2.145946
367,2022-05-19,19:45,Everton,Crystal Palace,3,2,H,A Taylor,12,7,...,5,2,3,0,0,1.90,3.40,4.33,1.951429,1.367742
368,2022-05-19,20:00,Aston Villa,Burnley,1,1,D,P Tierney,22,10,...,6,0,1,0,1,2.05,3.50,3.60,0.960000,1.324242
369,2022-05-19,20:00,Chelsea,Leicester,1,1,D,S Attwell,20,2,...,0,4,1,0,0,1.40,4.75,8.00,1.566667,0.840625