In [37]:
import pandas as pd

merged_gw = pd.read_csv ('merged_gw.csv')
teams_fifa23 = pd.read_csv ('teams_fifa23.csv')
players_fifa23 = pd.read_csv ('players_fifa23.csv')
Odds = pd.read_csv ('E0.csv')
Team = pd.read_csv ('Teams.csv')

In [38]:
df1 = Team[['name', 'strength_overall_home', 'strength_overall_away', 
            'strength_attack_home', 'strength_attack_away',
            'strength_defence_home', 'strength_defence_away']]

In [39]:
updated = df1.transpose()
updated.columns = updated.iloc[0] 
updated = updated[1:]

In [40]:
new_odds = Odds[["Date", "GW", "HomeTeam", "AwayTeam", 
      "FTHG", "FTAG", "FTR", "Referee", 
      "HS", "AS", "HST", "AST", "HC", "AC", 
      "HY", "AY", "HR", "AR", 
      "B365H", "B365D", "B365A"]]

In [41]:
new_odds["HICT"] = ""
new_odds["AICT"] = ""
Updated_teams = teams_fifa23.loc[teams_fifa23['League'] == "English Premier League (1)"]

/var/folders/58/8k0vd_nd0sx6lhr56sh035jm0000gn/T/ipykernel_86176/1502191582.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_odds["HICT"] = ""
/var/folders/58/8k0vd_nd0sx6lhr56sh035jm0000gn/T/ipykernel_86176/1502191582.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_odds["AICT"] = ""

In [42]:
important_teams = Updated_teams[["Name", "Overall", "Attack", "Midfield", "Defence"]]

In [43]:
merged_gw_updated = merged_gw[["team", "ict_index", "GW"]]

In [44]:
sorted_gw = merged_gw_updated.sort_values(by=['team', 'GW'])
grouped_gw = sorted_gw.groupby(by=['team', 'GW'])['ict_index'].sum()
df_grouped_gw = grouped_gw.to_frame()
ICT_2022 = df_grouped_gw.pivot_table(index=['team'], 
            columns=['GW'], values='ict_index').fillna(0)

In [45]:
merged_gw_updated2 = merged_gw[["team", "was_home", "GW"]]
sorted_gw2 = merged_gw_updated2.sort_values(by=['team', 'GW'])
grouped_gw2 = sorted_gw2.groupby(by=['team', 'GW'])['was_home'].sum()
df_grouped_gw2 = grouped_gw2.to_frame()
WH_2022 = sorted_gw2.pivot_table(index=['team'], 
            columns=['GW'], values='was_home').fillna(0)

In [46]:
home_team = ICT_2022.mask(WH_2022 == 1.0)

In [47]:
home_team2 = home_team[1]

home_team2

In [48]:
hometeam22 = home_team2.reset_index()

In [49]:
df2 = hometeam22.rename({'team': 'AwayTeam2', 1: 'GW1'}, axis=1)  # new method

In [50]:
new_odds.sort_index(inplace=True)

In [51]:
new_odds = new_odds.reset_index(drop=True)
gw1 = new_odds.head(10)
gw1_away_team = gw1.sort_values('AwayTeam')

In [52]:
df2 = df2.reset_index(drop=True)

In [53]:
gw1_away_team

,Date,GW,HomeTeam,AwayTeam,FTHG,FTAG,FTR,Referee,HS,AS,...,AC,HY,AY,HR,AR,B365H,B365D,B365A,HICT,AICT
0,05/08/2022,1,Crystal Palace,Arsenal,0,2,A,A Taylor,10,10,...,5,1,2,0,0,4.20,3.60,1.85,,
2,06/08/2022,1,Bournemouth,Aston Villa,2,0,H,P Bankes,7,15,...,5,3,3,0,0,3.75,3.50,2.00,,
7,07/08/2022,1,Leicester,Brentford,2,2,D,J Gillett,14,8,...,6,0,0,0,0,2.00,3.75,3.50,,
8,07/08/2022,1,Man United,Brighton,1,2,A,P Tierney,17,15,...,2,4,1,0,0,1.60,4.20,5.25,,
6,06/08/2022,1,Everton,Chelsea,0,1,A,C Pawson,8,15,...,16,3,2,0,0,5.50,4.00,1.61,,
1,06/08/2022,1,Fulham,Liverpool,2,2,D,A Madley,9,11,...,4,2,0,0,0,11.00,6.00,1.25,,
9,07/08/2022,1,West Ham,Man City,0,2,A,M Oliver,6,14,...,4,0,1,0,0,8.00,5.00,1.36,,
4,06/08/2022,1,Newcastle,Nott'm Forest,2,0,H,S Hooper,23,5,...,1,0,3,0,0,1.66,3.80,5.25,,
5,06/08/2022,1,Tottenham,Southampton,4,1,H,A Marriner,18,10,...,2,3,0,0,0,1.33,5.50,8.50,,
3,06/08/2022,1,Leeds,Wolves,2,1,H,R Jones,12,15,...,4,2,0,0,0,2.25,3.40,3.20,,

In [54]:
df2

         AwayTeam2   GW1
0          Arsenal  51.5
1      Aston Villa  41.8
2      Bournemouth   NaN
3        Brentford  37.5
4         Brighton  66.4
5          Chelsea  63.0
6   Crystal Palace   NaN
7          Everton   NaN
8           Fulham   NaN
9            Leeds   NaN
10       Leicester   NaN
11       Liverpool  56.6
12        Man City  55.7
13         Man Utd   NaN
14       Newcastle   NaN
15   Nott'm Forest  26.7
16     Southampton  45.6
17           Spurs   NaN
18        West Ham   NaN
19          Wolves  62.8

In [55]:
WH_2022.sort_index(inplace=True)
WH_2022.reset_index(inplace=True)
WH_2022

GW            team    1    2    3    4    5    6    8    9   10
0          Arsenal  0.0  1.0  0.0  1.0  1.0  0.0  0.0  1.0  1.0
1      Aston Villa  0.0  1.0  0.0  1.0  0.0  1.0  1.0  0.0  0.0
2      Bournemouth  1.0  0.0  1.0  0.0  1.0  0.0  0.0  1.0  1.0
3        Brentford  0.0  1.0  0.0  1.0  0.0  1.0  1.0  0.0  0.0
4         Brighton  0.0  1.0  0.0  1.0  0.0  1.0  0.0  0.0  1.0
5          Chelsea  0.0  1.0  0.0  1.0  0.0  1.0  0.0  0.0  1.0
6   Crystal Palace  1.0  0.0  1.0  0.0  1.0  0.0  0.0  1.0  1.0
7          Everton  1.0  0.0  1.0  0.0  0.0  1.0  1.0  0.0  1.0
8           Fulham  1.0  0.0  1.0  0.0  1.0  0.0  0.0  1.0  0.0
9            Leeds  1.0  0.0  1.0  0.0  1.0  0.0  0.0  1.0  0.0
10       Leicester  1.0  0.0  1.0  0.0  1.0  0.0  0.0  1.0  0.0
11       Liverpool  0.0  1.0  0.0  1.0  1.0  0.0  0.0  1.0  0.0
12        Man City  0.0  1.0  0.0  1.0  1.0  0.0  0.0  1.0  1.0
13         Man Utd  1.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0
14       Newcastle  1.0  0.0  1.0  0.0  0.0  1.0  1.0  0.0  1.0
15   Nott'm Forest  0.0  1.0  0.0  1.0  0.0  1.0  1.0  0.0  1.0
16     Southampton  0.0  1.0  0.0  1.0  1.0  0.0  0.0  1.0  0.0
17           Spurs  1.0  0.0  1.0  0.0  0.0  1.0  1.0  0.0  0.0
18        West Ham  1.0  0.0  1.0  0.0  1.0  0.0  0.0  1.0  1.0
19          Wolves  0.0  1.0  0.0  1.0  0.0  1.0  1.0  0.0  0.0

In [56]:
ICT_2022.sort_index(inplace=True)
ICT_2022.reset_index(inplace=True)
ICT_2022

GW            team     1     2     3      4     5     6     8      9    10
0          Arsenal  51.5  74.0  61.1   87.0  79.0  56.7  65.3   83.8  61.4
1      Aston Villa  41.8  64.0  50.2   37.0  32.7  24.6  48.4   57.1  48.5
2      Bournemouth  42.7  19.2  28.3   24.8  30.7  49.9  42.6   31.3  49.4
3        Brentford  37.5  58.6  58.3   67.3  41.9  57.2  31.9   47.7  34.8
4         Brighton  66.4  46.2  53.1   48.1  37.0  82.3   0.0   54.1  57.8
5          Chelsea  63.0  69.7  52.2   48.1  55.9  50.6   0.0   55.4  83.3
6   Crystal Palace  46.3  44.5  65.5   21.6  49.5  67.7   0.0   33.8  54.2
7          Everton  41.8  51.5  63.4   59.1  39.7  52.2  43.8   65.8  40.1
8           Fulham  48.5  32.4  74.1   50.6  38.0  43.5  67.2   30.0  36.3
9            Leeds  50.9  68.2  59.3   37.2  56.0  59.8   0.0   29.8  46.2
10       Leicester  52.7  35.1  30.8   63.2  31.7  44.9  65.9   64.9  52.1
11       Liverpool  56.6  80.7  66.8  112.9  81.3  75.4   0.0   61.0  43.1
12        Man City  55.7  81.7  89.0   84.1  85.4  55.4  71.8  104.7  88.7
13         Man Utd  63.7  51.2  56.4   56.4  38.8  56.4   0.0   55.6  54.9
14       Newcastle  88.4  30.7  64.5   68.0  36.5  83.4  64.1   98.7  66.7
15   Nott'm Forest  26.7  48.6  46.8   54.0  26.9  49.2  44.3   35.9  34.9
16     Southampton  45.6  51.4  44.1   59.0  48.2  43.2  29.0   70.5  21.3
17           Spurs  79.9  57.2  55.2   65.6  46.6  79.9  87.4   33.7  38.8
18        West Ham  24.8  49.7  43.8   36.9  47.5  31.9  49.4   60.1  67.6
19          Wolves  62.8  29.4  58.0   48.4  58.6  42.3  25.8   47.1  33.5

In [57]:
home_team = ICT_2022.mask(WH_2022 == 1.0)

In [58]:
home_team.sort_index(inplace=True)
home_team.reset_index(inplace=True)

In [59]:
updated

name,Arsenal,Aston Villa,Brentford,Brighton,Burnley,Chelsea,Crystal Palace,Everton,Leicester,Leeds,Liverpool,Man City,Man Utd,Newcastle,Norwich,Southampton,Spurs,Watford,West Ham,Wolves
strength_overall_home,1250,1100,1060,1100,1060,1290,1090,1050,1090,1070,1340,1350,1210,1090,1030,1080,1210,1060,1130,1200
strength_overall_away,1270,1100,1070,1090,1060,1320,1100,1090,1200,1080,1360,1370,1270,1170,1040,1110,1270,1030,1190,1170
strength_attack_home,1150,1140,1120,1160,1080,1300,1110,1130,1100,1080,1300,1340,1170,1050,1040,1090,1190,1090,1110,1150
strength_attack_away,1210,1110,1150,1160,1130,1300,1160,1090,1080,1070,1350,1360,1190,1030,1040,1140,1200,1040,1150,1160
strength_defence_home,1190,1090,1080,1100,1060,1250,1080,1110,1150,1100,1340,1340,1190,1040,1040,1120,1210,1120,1160,1080
strength_defence_away,1220,1090,1120,1120,1100,1290,1160,1110,1160,1100,1350,1360,1200,1070,1030,1090,1210,1070,1180,1100

In [60]:
important_teams

                       Name  Overall  Attack  Midfield  Defence
0           AFC Bournemouth       74      75        73       73
1              AFC Richmond       78      81        79       77
2                   Arsenal       80      83        81       79
3               Aston Villa       79      79        78       80
4                 Brentford       75      75        74       75
5    Brighton & Hove Albion       76      76        75       77
6                   Chelsea       84      84        86       84
7            Crystal Palace       76      77        75       76
8                   Everton       78      80        77       75
9                    Fulham       76      78        76       74
10             Leeds United       76      78        76       76
11           Leicester City       79      81        80       78
12                Liverpool       85      84        82       87
13          Manchester City       85      86        86       86
14        Manchester United       82      85        83       80
15         Newcastle United       78      78        76       79
16        Nottingham Forest       76      75        76       74
17              Southampton       75      76        74       75
18        Tottenham Hotspur       81      84        81       79
19          West Ham United       80      79        80       78
20  Wolverhampton Wanderers       79      79        81       77

In [67]:
new_odds

,Date,GW,HomeTeam,AwayTeam,FTHG,FTAG,FTR,Referee,HS,AS,...,AC,HY,AY,HR,AR,B365H,B365D,B365A,HICT,AICT
0,05/08/2022,1,Crystal Palace,Arsenal,0,2,A,A Taylor,10,10,...,5,1,2,0,0,4.20,3.6,1.85,,
1,06/08/2022,1,Fulham,Liverpool,2,2,D,A Madley,9,11,...,4,2,0,0,0,11.00,6.0,1.25,,
2,06/08/2022,1,Bournemouth,Aston Villa,2,0,H,P Bankes,7,15,...,5,3,3,0,0,3.75,3.5,2.00,,
3,06/08/2022,1,Leeds,Wolves,2,1,H,R Jones,12,15,...,4,2,0,0,0,2.25,3.4,3.20,,
4,06/08/2022,1,Newcastle,Nott'm Forest,2,0,H,S Hooper,23,5,...,1,0,3,0,0,1.66,3.8,5.25,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82,09/10/2022,10,Crystal Palace,Leeds,2,1,H,P Tierney,13,10,...,3,3,3,0,0,2.05,3.5,3.60,,
83,09/10/2022,10,West Ham,Fulham,3,1,H,C Kavanagh,17,8,...,2,1,3,0,0,1.72,3.8,4.75,,
84,09/10/2022,10,Arsenal,Liverpool,3,2,H,M Oliver,11,8,...,3,1,2,0,0,2.50,3.6,2.62,,
85,09/10/2022,10,Everton,Man United,1,2,A,D Coote,11,12,...,4,2,1,0,0,3.60,3.5,2.05,,
86,10/10/2022,10,Nott'm Forest,Aston Villa,1,1,D,A Taylor,6,12,...,4,3,3,0,0,3.30,3.4,2.20,,

In [62]:
home_team

GW,index,team,1,2,3,4,5,6,8,9,10
0,0,Arsenal,51.5,NaN,61.1,NaN,NaN,56.7,65.3,NaN,NaN
1,1,Aston Villa,41.8,NaN,50.2,NaN,32.7,NaN,NaN,57.1,48.5
2,2,Bournemouth,NaN,19.2,NaN,24.8,NaN,49.9,42.6,NaN,NaN
3,3,Brentford,37.5,NaN,58.3,NaN,41.9,NaN,NaN,47.7,34.8
4,4,Brighton,66.4,NaN,53.1,NaN,37.0,NaN,0.0,54.1,NaN
5,5,Chelsea,63.0,NaN,52.2,NaN,55.9,NaN,0.0,55.4,NaN
6,6,Crystal Palace,NaN,44.5,NaN,21.6,NaN,67.7,0.0,NaN,NaN
7,7,Everton,NaN,51.5,NaN,59.1,39.7,NaN,NaN,65.8,NaN
8,8,Fulham,NaN,32.4,NaN,50.6,NaN,43.5,67.2,NaN,36.3
9,9,Leeds,NaN,68.2,NaN,37.2,NaN,59.8,0.0,NaN,46.2
10,10,Leicester,NaN,35.1,NaN,63.2,NaN,44.9,65.9,NaN,52.1
11,11,Liverpool,56.6,NaN,66.8,NaN,NaN,75.4,0.0,NaN,43.1
12,12,Man City,55.7,NaN,89.0,NaN,NaN,55.4,71.8,NaN,NaN
13,13,Man Utd,NaN,51.2,NaN,56.4,38.8,NaN,0.0,55.6,54.9
14,14,Newcastle,NaN,30.7,NaN,68.0,36.5,NaN,NaN,98.7,NaN
15,15,Nott'm Forest,26.7,NaN,46.8,NaN,26.9,NaN,NaN,35.9,NaN
16,16,Southampton,45.6,NaN,44.1,NaN,NaN,43.2,29.0,NaN,21.3
17,17,Spurs,NaN,57.2,NaN,65.6,46.6,NaN,NaN,33.7,38.8
18,18,West Ham,NaN,49.7,NaN,36.9,NaN,31.9,49.4,NaN,NaN
19,19,Wolves,62.8,NaN,58.0,NaN,58.6,NaN,NaN,47.1,33.5

In [64]:
new_odds

,Date,GW,HomeTeam,AwayTeam,FTHG,FTAG,FTR,Referee,HS,AS,...,AC,HY,AY,HR,AR,B365H,B365D,B365A,HICT,AICT
0,05/08/2022,1,Crystal Palace,Arsenal,0,2,A,A Taylor,10,10,...,5,1,2,0,0,4.20,3.6,1.85,,
1,06/08/2022,1,Fulham,Liverpool,2,2,D,A Madley,9,11,...,4,2,0,0,0,11.00,6.0,1.25,,
2,06/08/2022,1,Bournemouth,Aston Villa,2,0,H,P Bankes,7,15,...,5,3,3,0,0,3.75,3.5,2.00,,
3,06/08/2022,1,Leeds,Wolves,2,1,H,R Jones,12,15,...,4,2,0,0,0,2.25,3.4,3.20,,
4,06/08/2022,1,Newcastle,Nott'm Forest,2,0,H,S Hooper,23,5,...,1,0,3,0,0,1.66,3.8,5.25,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82,09/10/2022,10,Crystal Palace,Leeds,2,1,H,P Tierney,13,10,...,3,3,3,0,0,2.05,3.5,3.60,,
83,09/10/2022,10,West Ham,Fulham,3,1,H,C Kavanagh,17,8,...,2,1,3,0,0,1.72,3.8,4.75,,
84,09/10/2022,10,Arsenal,Liverpool,3,2,H,M Oliver,11,8,...,3,1,2,0,0,2.50,3.6,2.62,,
85,09/10/2022,10,Everton,Man United,1,2,A,D Coote,11,12,...,4,2,1,0,0,3.60,3.5,2.05,,
86,10/10/2022,10,Nott'm Forest,Aston Villa,1,1,D,A Taylor,6,12,...,4,3,3,0,0,3.30,3.4,2.20,,

In [ ]:
new_odds.AwayTeam

In [ ]:
new_odds

In [70]:
for (i, ICT), (j, odds) in zip(home_team.iterrows(), new_odds.iterrows()):
    for ict in ICT:
        new_odds.AICT = ict

KeyError: 'GW'

In [ ]:
df1 = df.melt('colfromvaluestobepicked', ignore_index=False)

df['new']=df1.loc[df1['colfromvaluestobepicked'].str.strip("'") == df1['variable'],'value']

In [72]:
cust_sell = new_odds[new_odds.GW == 1]